@model IEnumerable<Inventory>


    <h2>Inventory</h2>

    <div style="display:block">
        <a href="/Inventory/InsertInventory">Create Item</a>
    </div>

    <table class="table">

        <tr>
            <th>ProductID</th>
            <th>Tag</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Date Assigned</th>
            <th>Distributor</th>
            <th>Custodian</th>
        </tr>

    @foreach (var inventory in Model)
    {
        <tr>
            <td><a href="/Inventory/ViewInventory/@inventory.ProductID">@inventory.ProductID</a></td>
            <td>@inventory.Tag</td>
            <td>@inventory.ProductName</td>
            <td>@inventory.Description</td>
            <td>@inventory.DateAssigned.ToString("d")</td>
            <td>@inventory.Distributor</td>
            <td>@inventory.Custodian</td>
        </tr>

    }

    </table>