@model IEnumerable<Inventory>

    <h2>Inventory</h2>
    <table class ="table">
        <tr>
            <th>ProductID</th>
            <th>InventoryTag</th>
            <th>ProductName</th>
            <th>Description</th>
            <th>DateAssigned</th>
            <th>Distributor</th>
            <th>Custodian</th>
        </tr>

        
    @foreach (var inventory in @Model)
    {
        <tr>
            <td>@inventory.ProductID</td>
            <td>@inventory.InventoryTag</td>
            <td>@inventory.ProductName</td>
            <td>@inventory.Description</td>
            <td>@inventory.DateAssigned.ToString("d")</td>
            <td>@inventory.Distributor</td>
            <td>@inventory.Custodian</td>
        </tr>
    }
</table>