@model IEnumerable<Inventory>
  //views is what the users sees
    <h2>Inventory</h2>
    <table class= "table">
        <tr>
            <th>ProductId</th>
            <th>InventoryTag</th>
            <th>ProductName</th>
            <th>Descripton</th>
            <th>DateAssigned</th>
            <th>Distributor</th>
            <th>Cuatodian</th>
        </tr>

        @foreach (var inventory in Model)
        {
         <tr>
            <td><a href="/Inventory/ViewInventory/@inventory.ProductID">@inventory.ProductID</a></td>
            <td>@inventory.InventoryTag</td>
            <td>@inventory.ProductName</td>
            <td>@inventory.Description</td>
            <td>@inventory.DateAssigned.ToString("d")</td>
            <td>@inventory.Distributor</td>
            <td>@inventory.Custodian</td>
        </tr>

        }
</table>