@model IEnumerable<Inventory>

    <h2>Inventory</h2>

    <div style="display:block">
        <a href="/Inventory/InsertInventory">Create Item</a>
    </div>

    <table class="table">

        <tr>
            <th>ProductID</th>
            <th>Tag</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Date Assigned</th>
            <th>DName</th>
            <th>Custodian</th>
        </tr>

    @foreach (var inventory in Model)
    {
        <tr>
            <td><a href="/Inventory/ViewInventory/@inventory.ProductID">@inventory.ProductID</a></td>
            <td>@inventory.Tag</td>
            <td>@inventory.ProductName</td>
            <td>@inventory.Description</td>
            <td class="dateAssigned">@inventory.DateAssigned.ToString("MM/dd/yyyy")</td>
            <td>@inventory.Dname</td>
            <td>@inventory.Custodian</td>
        </tr>

    }





    @*<script>
        // JavaScript code to add event listener to table rows
        document.addEventListener("DOMContentLoaded", function () {
            var tableRows = document.querySelectorAll("#inventoryTable tr");

            tableRows.forEach(function (row) {
                row.addEventListener("click", function () {
                    // Get the ProductID from the first cell of the clicked row
                    var productId = this.cells[0].textContent;

                    // Redirect to the ViewInventory page for the clicked ProductID
                    window.location.href = "/Inventory/ViewInventory/" + productId;
                });
            });
        });
    </script>*@

    </table>