@model IEnumerable<Inventory>

    <h2>TDA Inventory</h2>

<div style="display: block">
    <a href="/Inventory/InsertInventory/">Create a New Item</a>
</div>

    <table class="table">

        <tr>
            <td>ProductID</td>
            <td>InventoryTag</td>
            <td>ProductName</td>
            <td>Description</td>
            <td>DateAssigned</td>
            <td>Distributor</td>
            <td>Custodian</td>
        </tr>

        @foreach (var inventory in Model)

        {
            <tr>
                <td><a href="/Inventory/ViewInventory/@inventory.ProductId">@inventory.ProductId</a></td>
                <td>@inventory.InventoryTag</td>
                <td>@inventory.ProductName</td>
                <td>@inventory.Description</td>
                <td>@inventory.DateAssigned.ToString("MM/dd/yyyy")</td>
                <td>@inventory.Distributor</td>
                <td>@inventory.Custodian</td>
            </tr>
        
        }

    </table>