@model Inventory

<h2>Update Tag#@Model.Tag</h2>

<table class="table">

    @using (Html.BeginForm("InsertInventoryToDatabase", "Inventory", "Post"))
    {

        <input asp-for="ProductID" type="hidden" value="@Model.ProductID" />

        <label asp-for="Tag" class="control-label">Tag</label>
        <input type="text" name="Tag" class="form-control" value="@Model.Tag" />

        <label asp-for="Custodian" class="control-label">Custodian</label>
        <input type="text" name="Custodian" class="form-control" value="@Model.Custodian" />

        <label asp-for="DateAssigned" class="control-label">Date Assigned</label>
        <input type="text" name="DateAssigned" class="form-control" value="@Model.DateAssigned" />

        <div class="form-group">
            <label for="">Select a Distributor</label>
            <select class="form-control" name="DistributorID" value="">
            @foreach (var distributor in Model.ListOfDistributors)
            {
                <option value="@distributor.DistributorID">@distributor.DistributorID @distributor.DName</option>
            }
            </select>
        </div>

        <label asp-for="ProductName" class="control-label">Product Name</label>
        <input type="text" name="ProductName" class="form-control" value="@Model.ProductName" />

        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" name="Description" class="form-control" value="@Model.Description" />

        <input type="submit" value="Create Item" class="btn btn-primary" />

    }


</table>