@model Inventory

<h3>@Model.ProductName</h3>
<table class="table">
    <tr>
        <th>ProductId</th>
        <th>InventoryTag</th>
        <th>ProductName</th>
        <th>Descripton</th>
        <th>DateAssigned</th>
        <th>Distributor</th>
        <th>Cuatodian</th>
    </tr>

        <tr>
            <td>@Model.ProductID</td>
            <td>@Model.InventoryTag</td>
            <td>@Model.ProductName</td>
            <td>@Model.Description</td>
            <td>@Model.Distributor</td>
            <td>@Model.Custodian</td>
        </tr>


></table>