@model Inventory

<h3>@Model.ProductName</h3>

<table class="table">
    <tr>
        <th>ProductID</th>
        <th>InventoryTag</th>
        <th>ProductName</th>
        <th>Discription</th>
        <th>DateAssigned</th>
        <th>Distributor</th>
        <th>Custodian</th>
    </tr>

    
         <tr>
            <td>@Model.ProductID</td>
            <td>@Model.InventoryTag</td>
            <td>@Model.ProductName</td>
            <td>@Model.Description</td>
            <td>@Model.DateAssigned</td>
            <td>@Model.Distributor</td>
            <td>@Model.Custodian</td>
        </tr>
    



</table>

