@model Inventory

<h2>Inventory# @Model.InventoryTag</h2>

<table class="table">

    <tr>
        <th>ProductID</th>
        <th>InventoryTag</th>
        <th>Productname</th>
        <th>Description</th>
        <th>DateAssigned</th>
        <th>Distributor</th>
        <th>Custodian</th>
    </tr>

    <tr>
        <td>@Model.ProductId</td>
        <td>@Model.InventoryTag</td>
        <td>@Model.ProductName</td>
        <td>@Model.Description</td>
        <td>@Model.DateAssigned.ToString("d")</td>
        <td>@Model.Distributor</td>
        <td>@Model.Custodian</td>
        
    </tr>

   <div style="display:block">
       <a href="/Inventory/UpdateInventory/@Model.ProductId">Update this Product</a>
   </div>


</table>
