@model Inventory

<h2>Inventory #@Model.InventoryTag</h2>

<table class="table">

    <tr>
        <th>ProductID</th>
        <th>Inventory Tag</th>
        <th>Product Name</th>
        <th>Descrption</th>
        <th>Date Assigned</th>
        <th>Distributor</th>
        <th>Custodian</th>
    </tr>

    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.InventoryTag</td>
        <td>@Model.ProductName</td>
        <td>@Model.Description</td>
        <td>@Model.DateAssigned.ToString("d")</td>
        <td>@Model.Distributor</td>
        <td>@Model.Custodian</td>
    </tr>


    <div style="display:block">
        <a href="/Inventory/UpdateInventory/@Model.ProductID">Update Inventory</a>
    </div>

   


</table>