@model Distributor

<h2>Update @Model.DName</h2>

<table class="table">

    @using (Html.BeginForm("InsertDistributorToDatabase", "Distributor", "Post"))
    {
        <input asp-for="DistributorID" type="hidden" value="@Model.DistributorID">

        <label asp-for="DName" class="control-label">DName</label>
        <input type="text" name="DName" class="form-control" value="@Model.DName" />

        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" name="Email" class="form-control" value="@Model.Email" />

        <label asp-for="Phone" class="control-label">Phone</label>
        <input type="text" name="Phone" class="form-control" value="@Model.Phone" />

        <input type="submit" value="Create Item" class="btn btn-primary" />

    }

