@model Distributor

<h2>@Model.DName</h2>

<table class="table">
    <tr>
        <th>DistributorID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    <tr>
        <td>@Model.DistributorID</td>
        <td>@Model.DName</td>
        <td>@Model.Email</td>
        <td>@Model.Phone</td>
    </tr>


    <div style="display:block">
        <a href="/Distributor/UpdateDistributor/@Model.DistributorID">Update Distributor</a>
    </div>

    <div style="display:block">
        @using (Html.BeginForm("DeleteDistributor", "Distributor", "Post"))
        {

            <input type="hidden" asp-for="DistributorID" value="@Model.DistributorID" />

            <input type="submit" onclick="return confirm('Are you sure?')" value="Delete Distributor" />

        }
    </div>



</table>