@model Distributor

<h2>@Model.Name</h2>

<table class="table">
    <tr>
        <th>DistributorID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    <tr>
        <td>@Model.DistributorID</td>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>@Model.Phone</td>
    </tr>


    <div style="display:block">
        <a href="/Distributor/UpdateDistributor/@Model.DistributorID">Update Distributor</a>
    </div>



</table>